@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --background: #f9fafb;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Sarabun", "Noto Sans Thai", sans-serif;
}
